.section-1{
  display: flex;
  max-width: 100%;
  height: 174px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .section-1 {
    height: auto;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
    gap: 35px;
    padding-top: 70px;
  }
}
